<template>
   <!-- mobile: width=100%, larger: width=20rem -->
   <div class="w-full sm:w-80 mx-auto">

      <div class="grid grid-cols-2 gap-4">
         <input class="border rounded mt-2 mr-2 p-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text" placeholder="Nom de l'item" v-model="itemText" />

         <button class="bg-green-500 hover:bg-green-700 text-white py-1 px-4 rounded" @click="addItem(itemText); itemText=''">
            Ajouter
         </button>
      </div>

      <hr class="my-4"/>

      <div v-for="item in itemsList" class="grid grid-cols-2 gap-4">
         <div>{{ item.text }}</div>
         <button class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-4 rounded" @click="deleteItem(item.id)">
            Supprimer
         </button>
      </div>
      <div v-if="itemsList.length === 0">
         Aucun item présent
      </div>
   </div>
</template>

<script>
import { ref } from "vue"
import { useItems } from "@/use/useItems"

export default {

   setup() {
      const { itemsList, addItem, deleteItem } = useItems()

      const itemText = ref('')

      return {
         itemsList, addItem, deleteItem,
         itemText,
      }
   }
}
</script>
